# Core
streamlit>=1.0.0
pandas>=1.3.0
numpy==1.26.4

# Fuzzy matching
rapidfuzz>=2.0.0
textdistance>=4.2.0
recordlinkage==0.16.0
name-matching>=0.8.12

# Token-based methods
scikit-learn==1.7.1

# Phonetic methods
phonetics==1.0.5

# Semantic methods
sentence-transformers==2.7.0
torch==2.8.0
transformers==4.55.4

# Other dependencies
scipy==1.16.1
jellyfish==1.0.1