# Core
streamlit==1.44.1
pandas==2.2.2
numpy==1.26.4

# Fuzzy matching
rapidfuzz==3.5.2
textdistance==4.2.1
recordlinkage==0.16
name-matching==0.8.12

# Token-based methods
scikit-learn==1.7.1

# Phonetic methods
phonetics==1.0.5

# Semantic methods
sentence-transformers==2.7.0
torch==2.8.0
transformers==4.55.4

# Other dependencies
scipy==1.16.1
jellyfish==1.0.1